<tr>
    <td class="header">
        <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
            <tr>
                <td width="200">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <td class="logo">
                        <img src="http://placehold.it/200x80" width="200" height="80" alt="" />
                    </td>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td><td width="400">
        <![endif]-->
        <div class="column">
            <table width="100%">
                <tr>
                    <td class="inner contents">
                        <p class="text-right">TEXT</p>
                    </td>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>